ul{
    margin-top: 10px;
    margin-bottom: 50px;
}

body{
    background-color: rgb(234, 232, 220);
}

main{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border: solid 4px black;
    padding: 15px;
}
